html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  height: 8rem;
}

.App-body {
  position: relative;
  background-image: linear-gradient(#DDDDDD, #e8e8e8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 8rem);
  }

.App-body > .right {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.App-body > .left {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .App-body > .right {
    margin-right: 0;
  }
  
  .App-body > .left {
    margin-left: 0;
  }
}

.App-body > div > textarea {
  width: 100%;
  height: calc(65vh);
}

.App-body > div > button {
  position: absolute;
  top: 0.8rem;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-size:17px;
	padding:8px 16px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.App-body > div > button:hover {
	background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color: #5cbf2a;
}

.App-body > div > button:focus {
  outline: none;
  box-shadow: none;
}

.App-link {
  color: #61dafb;
}
